
h2{
  color: white;

}
h3{
  color: white;

}
span{
  color: white;

}
.ghidiem{
  color: white;

}
#divhinhdep { 
    width: 600px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
  }
  #divhinhdep div.hinh { 
    float: left;  width: 180px;  height: 130px;
    border: 1px solid white;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  #divhinhdep div.hinh:active{
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  #divhinhdep div.hinh.flip{
    transform: rotateY(180deg);
  }
  
  #divhinhdep div.hinh:hover { cursor: pointer;}
  #divhinhdep img { width: 100%; height: 100%;
    position: absolute;
  }
  .main{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    height: max-content;

  }

  
  .an { display: none;
  }
  .hien { display: block;}

  body{
    background-image: url(/public/images/hinhnen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title{
  width: 100%;
  height: max-content;
}
.content{
  width: max-content;
  height: max-content;
  display: flex;
  margin: 0 auto;
}
.right{
  margin-left: 20px;
}
p{
  color: white;
}
